<div class="page-container">
  <mat-paginator
    [length]="totalAssignments"
    [pageSize]="assignmentsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
    *ngIf="assignments.length > 0"
  ></mat-paginator>
  <mat-accordion class="headers-align" displayMode="flat" class="mat-table">
    <section
      matSort
      (matSortChange)="sortData($event)"
      class="mat-elevation-z2 mat-header-row"
    >
      <span class="mat-header-cell" mat-sort-header="title">Title</span>
      <span class="mat-header-cell" mat-sort-header="userName">Instructor</span>
      <span class="mat-header-cell" mat-sort-header="lastUpdate"
        >Last Update</span
      >
    </section>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="assignmentsForm">
      <ng-conainer *ngIf="assignmentsForm">
        <ng-container
          formArrayName="assignmentsFormArray"
          *ngFor="
            let assignment of assignmentsForm.get('assignmentsFormArray')[
              'controls'
            ];
            let formControlIndex = index
          "
        >
          <ng-container [formGroupName]="formControlIndex">
            <mat-expansion-panel
              [expanded]="matPanelStep[formControlIndex]"
              *ngIf="
                (assignmentsForm.get('assignmentsFormArray').get('0').value
                  .title ||
                  addButtonClicked) &&
                !isLoading
              "
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-cell">
                  <mat-form-field
                    (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()"
                    [style.display]="
                      editableAssignments[formControlIndex] ? 'block' : 'none'
                    "
                    class="title-field"
                  >
                    <input
                      formControlName="title"
                      type="text"
                      placeholder="Title"
                      matInput
                      #titleInput
                    />
                    <mat-error
                      *ngIf="
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.title.invalid &&
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.title.touched
                      "
                    >
                      Please enter a title for the assignment.
                    </mat-error>
                  </mat-form-field>

                  <span
                    class="description-field"
                    [style.display]="
                      editableAssignments[formControlIndex] ? 'none' : 'block'
                    "
                  >
                    {{ titleInput.value }}
                  </span>
                </mat-panel-title>
                <mat-panel-title class="mat-cell">
                  {{
                    assignmentsForm.controls.assignmentsFormArray.controls[
                      formControlIndex
                    ].controls.userName.value
                  }}
                </mat-panel-title>
                <mat-panel-title class="mat-cell">
                  {{
                    assignmentsForm.controls.assignmentsFormArray.controls[
                      formControlIndex
                    ].controls.lastUpdate.value
                  }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="flex-column">
                <mat-divider></mat-divider>
                <div class="course-row">
                  <mat-tab-group mat-align-tabs="center">
                    <mat-tab
                      label="Details"
                      color="primary"
                      matTooltip="show
                    assignment's description"
                    >
                      <mat-label class="matLabel">Description</mat-label>
                      <div class="course-row">
                        <mat-form-field
                          *ngIf="
                            userRole === 'instructor' || userRole === 'admin'
                          "
                          class="description-field"
                          [style.display]="
                            editableAssignments[formControlIndex]
                              ? 'block'
                              : 'none'
                          "
                        >
                          <textarea
                            matInput
                            formControlName="description"
                            rows="2"
                            #descriptionInput
                          ></textarea>
                          <mat-error
                            *ngIf="
                              assignmentsForm.controls.assignmentsFormArray.at(
                                formControlIndex
                              ).controls.description.invalid &&
                              assignmentsForm.controls.assignmentsFormArray.at(
                                formControlIndex
                              ).controls.description.touched
                            "
                          >
                            Please enter description for the assignment.
                          </mat-error>
                        </mat-form-field>

                        <div
                          class="description-field"
                          [style.display]="
                            editableAssignments[formControlIndex]
                              ? 'none'
                              : 'block'
                          "
                        >
                          {{
                            assignmentsForm.controls.assignmentsFormArray.at(
                              formControlIndex
                            ).value.description
                          }}
                        </div>
                      </div>
                      <mat-divider></mat-divider>

                      <div class="course-row distance">
                        <span class="course-components">
                          <a
                            *ngIf="!editableAssignments[formControlIndex]"
                            color="primary"
                            (click)="onDownload(assignment, formControlIndex)"
                            matTooltip="Download the assignment"
                          >
                            Download Assignment
                          </a>
                        </span>

                        <span
                          *ngIf="
                            assignmentsForm.controls.assignmentsFormArray
                              .controls[formControlIndex].controls.fileType
                              .value === 'application/pdf' &&
                            !editableAssignments[formControlIndex]
                          "
                        >
                          <a
                            *ngIf="!filePickedAssignments[formControlIndex]"
                            class="pdfThumbnail"
                            target="_blank"
                            [routerLink]="[
                              '/pdfViewer',
                              assignmentsForm.controls.assignmentsFormArray
                                .controls[formControlIndex].controls.filePath
                                .value
                            ]"
                            matTooltip="Expand to web viewer"
                            >View Assignment</a
                          >
                        </span>
                      </div>
                      <div
                        *ngIf="
                          assignmentsForm.controls.assignmentsFormArray
                            .controls[formControlIndex].controls.fileType
                            .value !== 'application/pdf' &&
                          !editableAssignments[formControlIndex]
                        "
                      >
                        <a
                          *ngIf="!filePickedAssignments[formControlIndex]"
                          class="pdfThumbnail"
                          (click)="
                            print(
                              assignmentsForm.controls.assignmentsFormArray
                                .controls[formControlIndex].controls.filePath
                            )
                          "
                          [routerLink]="[
                            '/docViewer',
                            assignmentsForm.controls.assignmentsFormArray
                              .controls[formControlIndex].controls.filePath
                              .value
                          ]"
                          matTooltip="Expand to web viewer"
                          >Web Viewer</a
                        >
                      </div>
                    </mat-tab>

                    <mat-tab
                      *ngIf="userRole === 'instructor' || userRole === 'admin'"
                      label="Add Materials"
                      color="primary"
                      matTooltip="add assignment's material"
                    >
                      <app-dragAndDrop
                        [formGroup]="assignmentsForm"
                        [assingnmentIndex]="formControlIndex"
                        [component]="'material'"
                      ></app-dragAndDrop
                    ></mat-tab>
                    <mat-tab
                      label="Materials"
                      color="primary"
                      matTooltip="show the assignment's materials"
                      ><app-material-list
                        [formGroup]="assignmentsForm"
                        [assingnmentIndex]="formControlIndex"
                      ></app-material-list>
                    </mat-tab>
                    <mat-tab
                      *ngIf="userRole === 'instructor' || userRole === 'admin'"
                      label="Student Deliveries"
                      color="primary"
                      matTooltip="show the assignment's student deliveries"
                      ><app-student-deliveries
                        [formGroup]="assignmentsForm"
                        [assingnmentIndex]="formControlIndex"
                      ></app-student-deliveries>
                    </mat-tab>
                    <mat-tab
                      label="Upload"
                      color="primary"
                      *ngIf="userRole === 'student'"
                      matTooltip="upload your assignment delivery"
                    >
                      <app-dragAndDrop
                        [formGroup]="assignmentsForm"
                        [assingnmentIndex]="formControlIndex"
                        [component]="'student-deliveries'"
                      ></app-dragAndDrop
                    ></mat-tab>
                    <mat-tab
                      label="My Delivery"
                      color="primary"
                      *ngIf="userRole === 'student'"
                      matTooltip="show my assignment delivery"
                      ><app-my-student-delivery-list
                        [formGroup]="assignmentsForm"
                        [assingnmentIndex]="formControlIndex"
                      ></app-my-student-delivery-list>
                    </mat-tab>
                  </mat-tab-group>
                </div>
                <mat-divider></mat-divider>

                <div
                  class="course-description-attribution flex-center-row"
                  *ngIf="userRole === 'instructor' || userRole === 'admin'"
                >
                  <mat-error
                    *ngIf="
                      (assignmentsForm.controls.assignmentsFormArray.at(
                        formControlIndex
                      ).controls.description.invalid &&
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.description.touched) ||
                      (assignmentSubmitted[formControlIndex] &&
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.description.invalid)
                    "
                    style="font-size: smaller"
                  >
                    Please enter description for the assignment.
                  </mat-error>
                  <span *ngIf="filePickedAssignments[formControlIndex]">{{
                    assignmentsForm.controls.assignmentsFormArray
                      .at(formControlIndex)
                      .get('filePath').value.name
                  }}</span>

                  <a
                    *ngIf="editableAssignments[formControlIndex]"
                    mat-button
                    color="warn"
                    (click)="onCancel($event, formControlIndex)"
                    matTooltip="Abort the changes"
                  >
                    <mat-icon>cancel</mat-icon>
                  </a>

                  <a
                    *ngIf="editableAssignments[formControlIndex]"
                    mat-button
                    color="theme"
                    matTooltip="Upload assignment file"
                    (click)="filePicker.click()"
                  >
                    <mat-icon> attach_file</mat-icon>
                  </a>

                  <button
                    *ngIf="editableAssignments[formControlIndex]"
                    mat-button
                    color="success"
                    (click)="
                      onSaveAssignment($event, assignment, formControlIndex)
                    "
                    matTooltip="Save the changes"
                  >
                    <mat-icon>check_circle</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      (assignmentsForm.controls.assignmentsFormArray.at(
                        formControlIndex
                      ).controls.filePath.invalid &&
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.filePath.touched) ||
                      (assignmentSubmitted[formControlIndex] &&
                        assignmentsForm.controls.assignmentsFormArray.at(
                          formControlIndex
                        ).controls.filePath.invalid)
                    "
                    style="font-size: smaller"
                  >
                    Please enter a file of type pdf/doc/docx.
                  </mat-error>

                  <a
                    *ngIf="!editableAssignments[formControlIndex]"
                    mat-button
                    color="primary"
                    (click)="permitEdit($event, formControlIndex)"
                    matTooltip="Edit the assignment's information"
                    ><mat-icon>create</mat-icon></a
                  >
                  <a
                    *ngIf="!editableAssignments[formControlIndex]"
                    mat-button
                    color="warn"
                    (click)="onDelete(assignment, formControlIndex)"
                    matTooltip="Delete the assignment"
                  >
                    <mat-icon>delete</mat-icon>
                  </a>

                  <input
                    type="file"
                    #filePicker
                    (change)="onFilePicked($event, formControlIndex)"
                  />
                </div>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </ng-conainer>
    </form>
  </mat-accordion>

  <p
    class="mat-body-1 info-text"
    *ngIf="
      assignmentsForm.get('assignmentsFormArray').value.length === 0 &&
      !isLoading
    "
  >
    <mat-card class="message">
      <span>No assignments added yet!</span>
    </mat-card>
  </p>

  <div
    id="add-button"
    *ngIf="!isLoading && (userRole === 'instructor' || userRole === 'admin')"
  >
    <button
      mat-icon-button
      (click)="
        addItem(
          currentAssignment,
          assignmentsForm.get('assignmentsFormArray').length
        )
      "
      matTooltip="Add an assignment"
    >
      <mat-icon style="color: #3f51b5">add_circle</mat-icon>
    </button>
  </div>
</div>
