<h1 mat-dialog-title>New Assignment</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="{
      title: data.title,
      description: data.description,
      lastUpdate: data.lastUpdate
    }"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
