<form [formGroup]="assignmentsForm">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container
      formArrayName="assignmentsFormArray"
      *ngFor="
        let item of assignmentsForm.get('assignmentsFormArray')['controls'];
        let i = index
      "
    >
      <ng-container [formGroupName]="i">
        <!-- title Column -->

        <ng-container matColumnDef="title" *ngIf="i === 0">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <input mat-cell *matCellDef="let element" />
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="userName" *ngIf="i === 0">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastUpdate" *ngIf="i === 0">
          <th mat-header-cell *matHeaderCellDef>Last Update</th>
          <td mat-cell *matCellDef="let element">{{ element.lastUpdate }}</td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <button type="button" (click)="addItem()">Add Item</button>
  </table>
</form>
