<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Description"> </mat-tab>
  <mat-tab label="Materials"> </mat-tab>
  <mat-tab
    *ngIf="userRole === 'instructor' || userRole === 'admin'"
    label="Upload Materials"
  >
    <app-dragAndDrop
      [component]="'material'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>

  <mat-tab label="Deliveries"> </mat-tab>
  <mat-tab
    *ngIf="userRole === 'instructor' || userRole === 'admin'"
    label="Upload Delivery"
  >
    <app-dragAndDrop
      [component]="'material'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>
</mat-tab-group>
