<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Description">
    <mat-card>
      <mat-card-content *ngIf="assignment">{{
        assignment.description
      }}</mat-card-content></mat-card
    ></mat-tab
  >
  <mat-tab label="Materials"
    ><app-assignment-material-list></app-assignment-material-list>
  </mat-tab>
  <mat-tab
    *ngIf="userRole === 'instructor' || userRole === 'admin'"
    label="Upload Materials"
  >
    <app-dragAndDrop
      [component]="'material'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>

  <mat-tab label="Deliveries">
    <app-student-delivery-list></app-student-delivery-list
  ></mat-tab>
  <mat-tab *ngIf="userRole === 'student'" label="Upload Delivery">
    <app-dragAndDrop
      [component]="'student-delivery'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>
</mat-tab-group>
